{% extends '../base.html' %}
{% block title %}Sipna Student Portal{% endblock title %}
{% block maincontent %}
{% comment %} <link rel="stylesheet" href="/static/css/home.css"> {% endcomment %}
  <div  class="container-fluid">
      <center><h3 class="text-danger m-2">Important Notice</h3></center>
      <div class="row">
            <div id="dangerNotice" class="col-sm-5 border text-danger border-danger">
                <marquee direction="up" scrollamount="2">
                    <ul>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, hic libero cum iste laboriosam sunt quae fugiat officiis possimus blanditiis quo nulla saepe, natus velit adipisci eveniet. Temporibus, praesentium laborum. <br><br>
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, hic libero cum iste laboriosam sunt quae fugiat officiis possimus blanditiis quo nulla saepe, natus velit adipisci eveniet. Temporibus, praesentium laborum.<br><br>
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, hic libero cum iste laboriosam sunt quae fugiat officiis possimus blanditiis quo nulla saepe, natus velit adipisci eveniet. Temporibus, praesentium laborum.<br><br>
                        </li>
                    </ul>
                </marquee>
            </div>

          <div class="col-sm-1"></div>
            <div id="successNotice" class="col-sm-5 p-3 text-success border border-success">
                <marquee direction="up" scrollamount="2">
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, hic libero cum iste laboriosam sunt quae fugiat officiis possimus blanditiis quo nulla saepe, natus velit adipisci eveniet. Temporibus, praesentium laborum.<br><br>
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, hic libero cum iste laboriosam sunt quae fugiat officiis possimus blanditiis quo nulla saepe, natus velit adipisci eveniet. Temporibus, praesentium laborum.<br><br>
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, hic libero cum iste laboriosam sunt quae fugiat officiis possimus blanditiis quo nulla saepe, natus velit adipisci eveniet. Temporibus, praesentium laborum.<br><br>
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, hic libero cum iste laboriosam sunt quae fugiat officiis possimus blanditiis quo nulla saepe, natus velit adipisci eveniet. Temporibus, praesentium laborum.<br><br>
                    </li>
                </ul>
            </marquee>
            </div>
      </div>
  </div>

{% endblock maincontent %}