{% extends '../student-dashboard-base.html' %}
{% load static %}
{% block title %}Dashboard | Sipna Student Portal{% endblock title %}
{% block rightmaincontent %}

<div class="row">
    <center><h3 class="text-danger">Notifications</h3></center>
    <div class="col-1"></div>
    <div class="col-10 border border-danger ">
        <marquee behavior="scroll" direction="up" scrollamount="2">
        <ul>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, facilis voluptates officiis nobis ullam doloremque neque! Distinctio mollitia doloremque, error illo consequatur ex obcaecati nulla minima, velit deleniti vitae vero.
            </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, facilis voluptates officiis nobis ullam doloremque neque! Distinctio mollitia doloremque, error illo consequatur ex obcaecati nulla minima, velit deleniti vitae vero.

            </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, facilis voluptates officiis nobis ullam doloremque neque! Distinctio mollitia doloremque, error illo consequatur ex obcaecati nulla minima, velit deleniti vitae vero.

            </li>
       
        </ul> </marquee>
    </div>
    <div class="col-1"></div>
</div>
{% endblock rightmaincontent %}